page-home {
    .content{
        background: #7b2ee8;
    }
    ion-col{
        text-align: center;
        color: white;
    }
    ion-icon{
        margin-top: 20px;
        font-size: 60px;
    }
    p{
        margin-bottom: 20px;
    }
    .col{
        padding: 0px;
    }
    .cliente{
        border-right:solid white 1px;
        
    }
    .produtos{
        
        border-right:solid white 1px;
    }
    .title{
        text-align: center;
        font-size: 42px;
        color: white;
        font-family: title-font;
        letter-spacing: 6px;
      
    }
    .subtitle{
        margin-top: -10px;
        text-align: center;
        color: white;
        letter-spacing: 2px;
        
    }
}
@font-face {
    font-family: title-font;
    src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}