<ion-header>

  <ion-navbar  color="roxo">
    <ion-title><ion-icon name="basket"></ion-icon> Pedidos Nº {{pedido.id}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="line">
   
  <ion-item-divider color="light" text-center><b>Pedido</b></ion-item-divider>
  <ion-item>
    Cliente:
    <button  ion-button outline item-end icon-left color="danger">
       {{pedido.client}}
    </button>
   
</ion-item>
  <ion-item>
    Status:
    <button  *ngIf="pedido.status == 0" ion-button outline item-end icon-left >
      Em andamento
    </button>
    <button  *ngIf="pedido.status == 1" ion-button outline item-end icon-left >
      Concluído
    </button>
    <button  *ngIf="pedido.status == 2" ion-button outline item-end icon-left >
      Cancelado
    </button>
  </ion-item>
  <ion-item>
      Total pedido:
      <button  ion-button outline item-end icon-left >
          <h3>{{pedido.total_order | currency:'BRL'}}</h3>
      </button>
  </ion-item>
  <ion-item>
    Observação:
    <p>
        {{pedido.obs}}
    </p>
  </ion-item>
  <ion-item-divider color="light" text-center><b>Produtos</b></ion-item-divider>
  <ion-item *ngFor="let produto of pedido.items">
      <div (click)="produtoDetail(produto)">
          <ion-item>
            <ion-avatar item-start>
              <img [src]="produto.img" width="100">
            </ion-avatar>
            <h2>{{produto.nome_curto}}</h2>
            <h3>{{produto.quantity }} Unidades</h3>
            <h3>{{produto.price * produto.quantity | currency:'BRL'}}</h3>
            
          </ion-item>
      </div>
  </ion-item>
  
</ion-list>
</ion-content>
