page-product-datail {
    .foto{
        width: 100%;
        height: 200px;
        position: absolute;
        z-index: 9;
        margin-top: 70px;
        box-shadow: 0px 5px 20px #ccc;
    }
    h1{
        margin-top: 1px;
        font-size: 16px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .content-md{
        background: #7b2ee8;
    }
    .content-div{
        padding: 5px;
        background: white;
        margin: 15px;
        height: auto;
        padding-bottom: 15px;
        position: relative;
        border-radius: 2px;
    }
    .price{
        margin-top: 5px;
        margin-left: 80px;
        font-size: 16px;
        font-weight: bolder;
        color: #7b2ee8;

    }
    .description{
        margin-top: 75%;
    }
    .valor{
        margin-left: 90px;
        box-shadow: 0px 0px 5px #333;
    }
    p{
        text-align: justify;
    }
}
