<ion-header >

  <ion-navbar color="roxo">
    <ion-title> <ion-icon name="basket"></ion-icon> Produtos</ion-title>
  </ion-navbar>
  <ion-item style="border-radius: 0px;">
      <ion-label>Categoria</ion-label>
      <ion-select [(ngModel)]="gender" #categoria (ionChange)="filterCategoria(categoria._value)">
        <ion-option value="all">Todas</ion-option>
        <ion-option value="{{categoria.id}}" *ngFor="let categoria of categorias">{{categoria.nome}}</ion-option>
      </ion-select>
  </ion-item>
</ion-header>


<ion-content class="content">
  <ion-card *ngIf="produtos.length == 0">

    <ion-card-header text-center>
      Nenhum produto cadastrado!l
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  
  </ion-card>
  <div class="cart-produto" *ngFor="let produto of produtos" (click)="produtoDetail(produto)">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="produto.foto" width="100">
        </ion-avatar>
        <h2>{{produto.nome_curto}}</h2>
        <h3>{{produto.valor | currency:'BRL'}}</h3>
      </ion-item>
  </div>
</ion-content>