<ion-header>

    <ion-navbar color="roxo">
      <ion-title> <ion-icon name="md-person-add"></ion-icon>  Novo Pedido</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
  
  <form #form="ngForm" novalidate>
    <ion-item-divider color="light" text-center><b >Dados</b></ion-item-divider>
    <ion-item>
        <ion-label>Cliente</ion-label>
        <ion-select #client ="ngModel" ngModel name="client" required>
            <ion-option value="{{cleinte.id}}" *ngFor="let cleinte of clientes">{{cleinte.name}}</ion-option>                
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label  floating>Observacao</ion-label>
      <ion-input type="text"  name="obs"  ngModel></ion-input>
    </ion-item>
    <ion-item>
        <ion-label  floating>Total</ion-label>
        <ion-input type="text"  disabled name="total"  [ngModel]="itemsService.total  | currency:'BRL'"></ion-input>
        <ion-input type="hidden"  name="total_order"  [ngModel]="itemsService.total"></ion-input>
    </ion-item>
    <br>
    <ion-item-divider color="light" text-center><b >Produtos</b></ion-item-divider>
    <ion-item *ngFor="let produto of itemsService.items">
        <div>
            <ion-item>
              <ion-avatar item-start>
                <img [src]="produto.foto" width="100">
              </ion-avatar>
              <h2>{{produto.nome}}</h2>
              <p>Quantidade: {{produto.quantidade}}</p>
              <h3>{{produto.valor | currency:'BRL'}}</h3>
              <h2 item-end (click)="remove(produto)"> <ion-icon color="danger" name="trash"></ion-icon></h2>
             
            </ion-item>
        </div>
    </ion-item>
   
  </form>
  </ion-content>
  <ion-fab bottom right (click)="produtosAdd()">
      <button ion-fab mini color="roxo"><ion-icon name="add"></ion-icon></button>

  </ion-fab>
  <ion-footer>
      <ion-toolbar>
        <ion-row>
          <ion-col col-6>
            <button ion-button color="roxo" class="btn" (click)="validate(form.valid, form.value)">
              Finalizar
            </button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
  </ion-footer>
  